.root {
  outline: none;
  background: none;
  border: none;
  font-family: BigBlue;
  font-size: 20px;
  cursor: pointer;
  color: #f1faee;
  text-align: left;
  padding: 5px;
  border-radius: 2px;
  font-weight: bold;
}

.active {
  background: #ff729f;
}
