@font-face {
  font-family: "BigBlue";
  src: local("BigBlue"), url(./fonts/BigBlue.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: BigBlue, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
