.highlightedSpan {
  color: #ff729f;
  font-weight: bold;
  font-size: 22px;
}

.contentP {
  font-size: 20px;
}

.subContent {
  display: block;
  color: #ff729f;
  font-size: 16px;
  margin-top: -10px;
}
